body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(178, 232, 121);
}

h1{
    display: flex;
    justify-content: center;
}


#container{
    margin: auto;
    width: 500px;
    height: 575px;
    border: 4px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.display{
    width: auto;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 3rem;
}

.buttonContainer{
    flex: 1;
    display: flex;
}


button{
    /*Common flex */    
    flex: 1; 
    font-size: 3rem;
}

.rowButton{
   display: flex;
   flex-direction: column;
   width: 75%;
}

.row{
    flex: 1;
    display: flex;
}

.colButton{
    flex:1;
    display: flex;
}

.col{
    flex:1;
    display: flex;
    flex-direction: column;
}

.col .equal{
    flex-grow: 3;
}